# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\WindowsDefaultOrdner\Dokumente\Studium\Projekte\AVG\Agabae_I\rSocket\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
